@import url(footer.css);
@import url(header.css);

/*테이블 첫번째 열*/
div.addlesson>form>div.table div.td1 {
    width: 30%;
    padding: 5px;
    display: inline-block;
}

/*테이블 두번째 열*/
div.addlesson>form>div.table div.td2 {
    width: 50%;
    padding: 5px;
    display: inline-block;
}

/*테이블 세번째 열*/
div.addlesson>form>div.table div.td3 {
    width: 20%;
    padding: 5px;
    display: inline-block;
}

.select {
    padding: 15px 10px;
}


/*레슨 기타입력정보들*/
div.td2>ul li { 
    padding-top: 8px;
}
/* div.td2 input[name=lsn_intro] {
    width: 500px;
    height: 300px;
}    */
div.td2 textarea[name=lsn_intro] {
    width: 500px;
    height: 300px;
    resize: vertical; /* 상하만 크기조절가능 */
}  
div.td2 input[name=lsn_lv], div.td2 input[name=lsn_cnt_sum],
div.td2 input[name=lsn_per_time], div.td2 input[name=lsn_days] {
    width: 50px;
}     

/*레슨분류*/
.select input[type=checkbox]+label {
    display: inline-block;
    cursor: pointer;
    height: 24px;
    width: 90px;
    border: 1px solid #333;
    line-height: 24px;
    text-align: center;
    font-weight:bold;
    font-size:13px;
    border-radius: 23px;
}
/* .select input[type=checkbox] {
    display: none;
}     */
.select input[type=checkbox]+label {
    background-color: #fff;
    color: #333;
}
.select input[type=checkbox]:checked+label {
    background-color: #333;
    color: #fff;
}

/*헤더와 풋터에게서 섹션내용이 다 보여지도록 하기*/
section {
    padding-top: 120px; 
    padding-bottom: 120px;
    padding-left: 240px;
    padding-right: 240px;
}

img {
    width: 500px;
    height: 300px;
    object-fit: cover;
}

/*상단가기버튼*/
.btn_gotop {
    display:none;
    position:fixed;
    bottom:120px;
    right:30px;
    z-index:999;
    /* border:1px solid #ccc; */
    outline:none;
    /* background-color:white; */
    /* color:#333; */
    cursor:pointer;
    padding:15px 20px;
    border-radius:100%;
} 

