@import url(base.css);
footer {
    height: 100px; 
    width: 100%;
    color: white;
    background: #B7E7C7;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    padding: 10px;
    /* left: 0;
    right: 0; */
}

footer > #container > #content > p {
    margin: 0px 0px;
}