@import url(base.css);
footer {
    /* height: 100%;  */
    width: 100%;
    color: white;
    background: #B7E7C7;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    padding: 10px;
    z-index: 999;
    /* left: 0; */
    /* right: 0; */
}

footer > #container {
    width: 100%;
    height: 100%;
}

footer > #container > #content {
    width: 100%;
    height: 100%;
}

footer > #container > #content > p {
    margin: 0px 0px;
}