@import url(base.css);

@font-face {
	font-family: "Godo";
	font-style: normal;
	font-weight: 400;
	src: url("//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff2")
		format("woff2"),
	url("//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff")
		format("woff");
	}
header {
	height: 95px;
	color: white;
	background: #f6f3eb;
	font-weight: bold;
	box-sizing: border-box;
	z-index: 999;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}
header > #navbar {
	width: 100%;
	height: 100%;
}

header > #navbar > #content {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

header > #navbar > #content > #content-left {
	width: 15%;
	height: 100%;
}

header > #navbar > #content > #content-center {
	width: 70%;
	height: 100%;
}

header > #navbar > #content > #content-center > #logo {
	width: 160px;
	height: 100%;
	margin: auto;
}

header > #navbar > #content > #content-center > #logo > a > img {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

header > #navbar > #content > #content-right {
width: 15%;
}

/* header > #navbar > #content > #content-right > #addlesson {
    min-width: 200px;
}

header > #navbar > #content > #content-right > #addlesson > a{
	text-decoration: none;
	color: #b7e7c7;
	box-sizing: border-box;
	font-family: "Godo";
	font-weight: lighter;
} */

header > #navbar > #content > #content-right > #logined {
    min-width: 200px;
}

header > #navbar > #content > #content-right > #logined > div{
    cursor: pointer;
	text-decoration: none;
	color: #b7e7c7;
	box-sizing: border-box;
	font-family: "Godo";
	font-weight: lighter;
}

header > #navbar > #content > #content-right > #normal > a {
	text-decoration: none;
	color: #b7e7c7;
	box-sizing: border-box;
	font-family: "Godo";
	font-weight: lighter;
}

header > #navbar > #content > #content-right > #logined > a {
	text-decoration: none;
	color: #b7e7c7;
	box-sizing: border-box;
	font-family: "Godo";
	font-weight: lighter;
	/*text-shadow: 2px 2px 4px gray;*/
}

div#content-right >  a{
	display: block;
	text-decoration: none;
	color: #b7e7c7;
	box-sizing: border-box;
	font-family: "Godo";
	font-weight: lighter;
}