@import url(base.css);
* {
    margin: 0 0;
    box-sizing: border-box;
}

.modal-dialog {
    height: 1000px;
    margin-top: 200px;
}

button.confirm {
    background-color: lawngreen;
    border: none;
    border-radius: 10px;
}
button.cancel {
    border: none;
    border-radius: 10px;
}
body {
    height: 1000px !important;
}