@import url(base.css);
section {
    margin: 0 auto;
    height:1000px;
    margin-top: 95px;
    width : 80%;
}
* {
    margin: 0 0;
    box-sizing: border-box;
}

.table img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    max-width: 100%;
    max-height: 300px;
}

div.table{
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    overflow: scroll;
}

div.table div.tr{
    display: table-row;
    width : 30%;
    height: 400px;
    margin: 15px;
    padding: 6px;
}
div.table div.tr div.td{
    display: table-cell;
    width : 100%;
    height: 100%;
}
section {
    margin: 0 auto;
    margin-top: 95px;
    width : 80%;
}
div.current_cnt{
    text-align: right;
}