@charset "UTF-8";
@import url(base.css);

h1 {
	text-align: center;
	margin: 40px;
}

table#wrapper{
	text-align: left;
	display: flex;
	justify-content: space-around;
	border-spacing: 15px;
	min-width: 50%;
	font-weight:300;
}

/* tbody{
	margin: 5%;	
} */

table>tbody td#id>button#iddupchk{
	box-sizing: border-box;
	display: inline-block;
    width: 70px;
    height: 33px;
	padding: 3px 7px;
	margin-left: 10px;
    background-color: white;
    border: 2px solid rgb(183, 231, 199);
    border-radius: 23px;
	vertical-align: middle;
    font-size: smaller;
    cursor:pointer;
}

/* table > tbody td#user_profile{
	background-color: #FAC213;
	border: #FAC213 solid 2px;
} */

th {
	font-weight: 500;
	letter-spacing: 3px;
}

table>tbody td#id> button#iddupchk:hover {
	background-color:rgb(183, 231, 199);
}

/* 가입하기 버튼  */
div#signup{  
	text-align: center;
	width: 100%;
	height: 100%;
	margin-top: 10px;
	padding-bottom: 50px;
}

button#signup{
	/* margin : 100%; */
	background-color: white;
	width: 5%;
	height: 50px;
	margin-right: 110px;
    border: 2px solid rgb(183, 231, 199);
    border-radius: 23px;
	letter-spacing: 5px;
    font-weight: 300;
	font-size: medium;
    cursor:pointer;
	min-width: 10%;
}

button#signup:hover {
	background-color:rgb(183, 231, 199);
}

div.container>form>input{
	text-align: center;
	width:100%;
}
input.input-box{
	border-radius: 23px;
	border: 2px solid rgb(183, 231, 199);
	text-align: justify;
	padding: 7px;
	width:250px;
	box-sizing: border-box;
}

input.input-box:focus {
	background: rgba(183, 231, 199, 0.363); 
	outline: none !important;
}

table>tbody input#user_profile{
	border: 1px;
}