@import url(footer.css);
@import url(header.css);

/* 모든 a태그 밑줄 삭제 */
a {
    text-decoration: none;
    color: inherit;
}

/* body {
    width: 80%;
    margin-top: 95px;
} */

/*헤더와 풋터에게서 섹션내용이 다 보여지도록 하기*/
section.section1 {
    padding-top: 120px;    
    padding-left: 240px;
    padding-right: 240px;
}

section.section2 {
    
    padding-bottom: 120px;
    padding-left: 240px;
    padding-right: 240px;
}

img {
    width: 500px;
    height: 300px;
    object-fit: cover;
}

/*상단가기버튼*/
.btn_gotop {
    display:none;
    position:fixed;
    bottom:120px;
    right:30px;
    z-index:999;
    /* border:1px solid #ccc; */
    outline:none;
    /* background-color:white; */
    /* color:#333; */
    cursor:pointer;
    padding:15px 20px;
    border-radius:100%;
} 

/*레슨상세정보 서로의 간격*/
div.detail>fieldset {
    /* padding-top: 10px; */
    margin-top: 3%;
}    
